VITE_SUPABASE_URL=https://hbfmvzjtwfohwarlfwvf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiZm12emp0d2ZvaHdhcmxmd3ZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NjM1NDcsImV4cCI6MjA5MTMzOTU0N30.LUlwZOHaMw0Xs35QroMZ85v7SK5hYE8PvjrmN31lMLU